body, html {
    height: 100%;
}
.banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 600px;
    width: 1660px;
    margin-top: 50px;

}
#banner-header {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: seashell;
    font-size: 72px;
    text-align: center;
    margin-top: 200px;
}
#banner-sub {
    font-family: 'Roboto Condensed', sans-serif;
    color: seashell;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
.nav-names {
    float: left;
    list-style: none;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-names li {
    display: inline-block;
}
.nav-names li a {
    color: rgb(216, 31, 185);
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
}
.logo {
    height: 4vh;
}
#bio:hover ~ hr {
    margin-left: 24%;
    width: 3vw;
}
#portfolio:hover ~ hr {
    margin-left: 44%;
    width: 5vw;
}
#graphic:hover ~ hr {
    margin-left: 71%;
    width: 25%;
}
hr {
    height: 3px;
    width: 11%;
    margin: 0 0 0 1px;
    background-color:rgb(254, 184, 145);
    border: none;
    transition: .3s ease-in-out;
}
#feature-header {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
    font-size: 48px;

}
#feat-sub {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: -10px;
}
#cards-div {
    margin: 620px 0 0 0;
}
#card-row {
    margin-left: 100px;
    margin-top: -10px;
}
.card {
    border-radius: 20px;
}
.card-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
#bio-card {
    width: 260px;
    height: 380px;
    margin-left: 140px;
}
.card-title {
    font-family: 'Playfair Display', serif;
}
#avi {
    height: 196px;
    width: 170px;
    margin: 10px 0 0 43px;
    border-radius: 60px;
}
#software-card {
    margin-left: -120px;
    height: 380px;
    width: 290px;
}

#gifs {
    border-radius: 20px;
    margin: 11px 0 0 14px;
    width: 259px;
    height: 140px;
    
}
#software {
    border-radius: 20px;
    width: 259px;
    height: 140px;
    margin: 11px 0 0 14px;
}
footer {
    background-color: rgb(145, 24, 98);
    margin-top: 50px;
}
#footer-header {
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    margin-left: -135px;
}
#header {
    font-size: 24px;
    color: rgb(255, 255, 255);
}
#cj-copyright {
    margin-left: 3px;
}
#footer-names {
    list-style: none;
    margin-top: -10px;
    margin-left: -160px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
#footer-names li {
    display: inline-block;
}

#linkedin {
    margin-left: 10px;
}
.footer-buttons {
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
    color: white;
    font-size: 36px;
    font-weight: 300;
    height: 80px;
    width: 80px;
    text-align: left;
    text-transform: initial;
    letter-spacing: 1px;
}
.footer-buttons:focus {
    outline: none;
}
.footer-buttons:hover {
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
    color: rgb(254, 184, 145);
    font-size: 36px;
    font-weight: 300;
}
#bio-button {
    margin-top: -20px;
}
button {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size:12px;
    letter-spacing:3px;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    font-weight:bold;
    width: 140px;
    background-color: rgb(252, 252, 252);
    color: rgb(238, 3, 148);
    padding:8px 0px;
    border:3px solid rgb(238, 3, 148);
    border-radius: 6px;
    position:relative; 
}
button:hover {
    background-position: 100% 0;
    -moz-transition:.8s ease-in-out;
    -o-transition:.8s ease-in-out;
    -webkit-transition:.8s ease-in-out;
    transition:.8s ease-in-out;
    color: white;
    background-color: rgb(254, 184, 145);
    border:3px solid rgb(254, 184, 145);
}
button:focus {
    outline: none;
}
#gifs-github {
    margin-top: 10px;
}
#software-github {
    margin-top: 10px;
}

#gifs-buttons {
    margin-top: -20px;
}

#software-buttons {
    margin-top: -30px;
}

@media only screen and (min-width: 320px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        display: block;
        font-size: 12px;
    }
    .logo {
        height: 3vh;
    }
    #bio {
        margin-top: -7px;
    }
    #portfolio {
        margin-top: -10px;
    }
    #graphic {
        margin-top: -10px;
    }
    hr {
        height: 3px;
        width: 17%;
        margin: -79px 0 0 22px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 140px;
        width: 290px;
        margin-top: 120px;
    
    }
    #banner-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: seashell;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
        
    }
    #banner-sub {
        font-family: 'Roboto Condensed', sans-serif;
        color: seashell;
        font-weight: 400;
        font-size: 6px;
        text-align: center;
        margin-top: 10px;
    }
    #feature-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        text-align: center;
        font-size: 19px;
    
    }
    #feat-sub {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: -10px;
        font-size: 6px;
    }
    #cards-div {
        margin: 240px 0 0 0;
    }
    #card-row {
        margin-left: -80px;
    }
    .card {
        border-radius: 20px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    #bio-card {
        width: 140px;
        height: 180px;
        margin-left: 140px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
    }
    #bio-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #bio-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #avi {
        height: 76px;
        width: 70px;
        margin: 10px 0 0 35px;
        border-radius: 15px;
    }
    #software-card {
        margin: 10px 0 0 140px;
        width: 140px;
        height: 220px;
    }

    #gif-card {
        width: 140px;
        height: 220px;
        margin: 10px 0 0 140px;
    }
    #gifs-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #gifs-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs {
        border-radius: 8px;
        margin: 11px 0 0 14px;
        width: 110px;
        height: 60px;
        
    }
    #software {
        border-radius: 8px;
        width: 110px;
        height: 60px;
        margin: 11px 0 0 14px;
    }
    #software-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #software-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs-github {
        margin-top: 10px;
    }
    #software-github {
        margin-top: 10px;
    }
    
    #gifs-buttons {
        margin-top: -40px;
    }
    
    #software-buttons {
        margin-top: -30px;
    }

    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -5px;
    }
    #header {
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -30px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    #linkedin {
        margin-left: 10px;
    }
    .foot-btn-header {
        font-size: 18px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 18px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    #bio-button {
        margin-top: -30px;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size:8px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 90px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding: 2px 0px;
        border: 2px solid rgb(238, 3, 148);
        border-radius: 3px;
        position:relative; 
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }

  }
  @media only screen and (min-width: 360px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        display: block;
        font-size: 12px;
    }
    .logo {
        height: 3vh;
    }
    #bio {
        margin-top: -7px;
    }
    #portfolio {
        margin-top: -10px;
    }
    #graphic {
        margin-top: -10px;
    }
    hr {
        height: 3px;
        width: 17%;
        margin: -79px 0 0 22px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 140px;
        width: 330px;
        margin-top: 120px;
    
    }
    #banner-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: seashell;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
        
    }
    #banner-sub {
        font-family: 'Roboto Condensed', sans-serif;
        color: seashell;
        font-weight: 400;
        font-size: 6px;
        text-align: center;
        margin-top: 10px;
    }
    #feature-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        text-align: center;
        font-size: 19px;
    
    }
    #feat-sub {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: -10px;
        font-size: 6px;
    }
    #cards-div {
        margin: 240px 0 0 0;
    }
    #card-row {
        margin-left: -80px;
    }
    .card {
        border-radius: 20px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    #bio-card {
        width: 140px;
        height: 180px;
        margin-left: 140px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
    }
    #bio-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #bio-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #avi {
        height: 76px;
        width: 70px;
        margin: 10px 0 0 35px;
        border-radius: 15px;
    }
    #software-card {
        margin: 10px 0 0 140px;
        width: 140px;
        height: 220px;
    }

    #gif-card {
        width: 140px;
        height: 220px;
        margin: 10px 0 0 140px;
    }
    #gifs-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #gifs-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs {
        border-radius: 8px;
        margin: 11px 0 0 14px;
        width: 110px;
        height: 60px;
        
    }
    #software {
        border-radius: 8px;
        width: 110px;
        height: 60px;
        margin: 11px 0 0 14px;
    }
    #software-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #software-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs-github {
        margin-top: 10px;
    }
    #software-github {
        margin-top: 10px;
    }
    
    #gifs-buttons {
        margin-top: -40px;
    }
    
    #software-buttons {
        margin-top: -30px;
    }

    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -5px;
    }
    #header {
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -28px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    #linkedin {
        margin-left: 10px;
    }
    .foot-btn-header {
        font-size: 18px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 18px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    #bio-button {
        margin-top: -30px;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size:8px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 90px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding: 2px 0px;
        border: 2px solid rgb(238, 3, 148);
        border-radius: 3px;
        position:relative; 
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }

}
@media only screen and (min-width: 411px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        display: block;
        font-size: 12px;
    }
    .logo {
        height: 3vh;
    }
    #bio {
        margin-top: -7px;
    }
    #portfolio {
        margin-top: -10px;
    }
    #graphic {
        margin-top: -10px;
    }
    hr {
        height: 3px;
        width: 17%;
        margin: -79px 0 0 25px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 140px;
        width: 385px;
        margin-top: 120px;
    
    }
    #banner-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: seashell;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
        
    }
    #banner-sub {
        font-family: 'Roboto Condensed', sans-serif;
        color: seashell;
        font-weight: 400;
        font-size: 6px;
        text-align: center;
        margin-top: 10px;
    }
    #feature-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        text-align: center;
        font-size: 19px;
    
    }
    #feat-sub {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: -10px;
        font-size: 6px;
    }
    #cards-div {
        margin: 240px 0 0 0px;
    }
    #card-row {
        margin-left: -35px;
    }
    .card {
        border-radius: 20px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    #bio-card {
        width: 140px;
        height: 180px;
        margin-left: 140px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
    }
    #bio-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #bio-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #avi {
        height: 76px;
        width: 70px;
        margin: 10px 0 0 35px;
        border-radius: 15px;
    }
    #software-card {
        margin: 10px 0 0 140px;
        width: 140px;
        height: 220px;
    }

    #gif-card {
        width: 140px;
        height: 220px;
        margin: 10px 0 0 140px;
    }
    #gifs-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #gifs-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs {
        border-radius: 8px;
        margin: 11px 0 0 14px;
        width: 110px;
        height: 60px;
        
    }
    #software {
        border-radius: 8px;
        width: 110px;
        height: 60px;
        margin: 11px 0 0 14px;
    }
    #software-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #software-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs-github {
        margin-top: 10px;
    }
    #software-github {
        margin-top: 10px;
    }
    
    #gifs-buttons {
        margin-top: -40px;
    }
    
    #software-buttons {
        margin-top: -30px;
    }

    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -5px;
    }
    #header {
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -28px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    #linkedin {
        margin-left: 10px;
    }
    .foot-btn-header {
        font-size: 18px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 18px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    #bio-button {
        margin-top: -30px;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size:8px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 90px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding: 2px 0px;
        border: 2px solid rgb(238, 3, 148);
        border-radius: 3px;
        position:relative; 
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }

}
@media only screen and (min-width: 375px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        display: block;
        font-size: 12px;
    }
    .logo {
        height: 3vh;
    }
    #bio {
        margin-top: -7px;
    }
    #portfolio {
        margin-top: -10px;
    }
    #graphic {
        margin-top: -10px;
    }
    hr {
        height: 3px;
        width: 17%;
        margin: -79px 0 0 23px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 140px;
        width: 345px;
        margin-top: 120px;
    
    }
    #banner-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: seashell;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
        
    }
    #banner-sub {
        font-family: 'Roboto Condensed', sans-serif;
        color: seashell;
        font-weight: 400;
        font-size: 6px;
        text-align: center;
        margin-top: 10px;
    }
    #feature-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        text-align: center;
        font-size: 19px;
    
    }
    #feat-sub {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: -10px;
        font-size: 6px;
    }
    #cards-div {
        margin: 240px 0 0 0px;
    }
    #card-row {
        margin-left: -55px;
    }
    .card {
        border-radius: 20px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    #bio-card {
        width: 140px;
        height: 180px;
        margin-left: 140px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
    }
    #bio-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #bio-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #avi {
        height: 76px;
        width: 70px;
        margin: 10px 0 0 35px;
        border-radius: 15px;
    }
    #software-card {
        margin: 10px 0 0 140px;
        width: 140px;
        height: 220px;
    }

    #gif-card {
        width: 140px;
        height: 220px;
        margin: 10px 0 0 140px;
    }
    #gifs-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #gifs-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs {
        border-radius: 8px;
        margin: 11px 0 0 14px;
        width: 110px;
        height: 60px;
        
    }
    #software {
        border-radius: 8px;
        width: 110px;
        height: 60px;
        margin: 11px 0 0 14px;
    }
    #software-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #software-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs-github {
        margin-top: 10px;
    }
    #software-github {
        margin-top: 10px;
    }
    
    #gifs-buttons {
        margin-top: -40px;
    }
    
    #software-buttons {
        margin-top: -30px;
    }

    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -5px;
    }
    #header {
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -28px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    #linkedin {
        margin-left: 10px;
    }
    .foot-btn-header {
        font-size: 18px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 18px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    #bio-button {
        margin-top: -30px;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size:8px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 90px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding: 2px 0px;
        border: 2px solid rgb(238, 3, 148);
        border-radius: 3px;
        position:relative; 
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }

}
@media only screen and (min-width: 414px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        display: block;
        font-size: 12px;
    }
    .logo {
        height: 3vh;
    }
    #bio {
        margin-top: -7px;
    }
    #portfolio {
        margin-top: -10px;
    }
    #graphic {
        margin-top: -10px;
    }
    hr {
        height: 3px;
        width: 17%;
        margin: -79px 0 0 25px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 140px;
        width: 385px;
        margin-top: 120px;
    
    }
    #banner-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: seashell;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
        
    }
    #banner-sub {
        font-family: 'Roboto Condensed', sans-serif;
        color: seashell;
        font-weight: 400;
        font-size: 6px;
        text-align: center;
        margin-top: 10px;
    }
    #feature-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        text-align: center;
        font-size: 19px;
    
    }
    #feat-sub {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: -10px;
        font-size: 6px;
    }
    #cards-div {
        margin: 240px 0 0 0px;
    }
    #card-row {
        margin-left: -55px;
    }
    .card {
        border-radius: 20px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    #bio-card {
        width: 140px;
        height: 180px;
        margin-left: 140px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
    }
    #bio-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #bio-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #avi {
        height: 76px;
        width: 70px;
        margin: 10px 0 0 35px;
        border-radius: 15px;
    }
    #software-card {
        margin: 10px 0 0 140px;
        width: 140px;
        height: 220px;
    }

    #gif-card {
        width: 140px;
        height: 220px;
        margin: 10px 0 0 140px;
    }
    #gifs-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #gifs-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs {
        border-radius: 8px;
        margin: 11px 0 0 14px;
        width: 110px;
        height: 60px;
        
    }
    #software {
        border-radius: 8px;
        width: 110px;
        height: 60px;
        margin: 11px 0 0 14px;
    }
    #software-title {
        font-size: 12px;
        margin-top: -10px;
    }
    #software-text {
        font-size: 8px;
        margin-top: -10px;
    }
    #gifs-github {
        margin-top: 10px;
    }
    #software-github {
        margin-top: 10px;
    }
    
    #gifs-buttons {
        margin-top: -40px;
    }
    
    #software-buttons {
        margin-top: -30px;
    }

    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -5px;
    }
    #header {
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -28px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    #linkedin {
        margin-left: 10px;
    }
    .foot-btn-header {
        font-size: 18px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 18px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    #bio-button {
        margin-top: -30px;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size:8px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 90px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding: 2px 0px;
        border: 2px solid rgb(238, 3, 148);
        border-radius: 3px;
        position:relative; 
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }

}
@media only screen and (min-width: 768px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: inline-block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 14px;
    }
    .logo {
        height: 4vh;
    }
    hr {
        height: 3px;
        width: 7%;
        margin: 0px 0 0 25px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 280px;
        width: 738px;
        margin-top: 120px;
    
    }
    #banner-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: seashell;
        font-size: 48px;
        text-align: center;
        margin-top: 70px;
        
    }
    #banner-sub {
        font-family: 'Roboto Condensed', sans-serif;
        color: seashell;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        margin-top: 10px;
    }
    #feature-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        text-align: center;
        font-size: 36px;
        margin-top: 380px;
    
    }
    #feat-sub {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: -10px;
        font-size: 11px;
    }
    #cards-div {
        margin: 240px 0 0 0px;
    }
    #card-row {
        margin-left: -155px;
    }
    .card {
        border-radius: 20px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    #bio-card {
        width: 200px;
        height: 280px;
        margin-left: 140px;
        margin-top: 12px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
    }
    #bio-title {
        font-size: 18px;
        margin-top: -10px;
    }
    #bio-text {
        font-size: 12px;
        margin-top: -10px;
    }
    #avi {
        height: 106px;
        width: 100px;
        margin: 10px 0 0 50px;
        border-radius: 15px;
    }
    #software-card {
        margin: 10px 0 0 70px;
        width: 200px;
        height: 280px;
    }

    #gif-card {
        width: 200px;
        height: 280px;
        margin: 10px 0 0 105px;
    }
    #gifs-title {
        font-size: 16px;
        margin-top: -10px;
    }
    #gifs-text {
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 40px;
    }
    #gifs {
        border-radius: 12px;
        margin: 11px 0 0 18px;
        width: 160px;
        height: 80px;
        
    }
    #software {
        border-radius: 8px;
        width: 150px;
        height: 80px;
        margin: 11px 0 0 25px;
    }
    #software-title {
        font-size: 16px;
        margin-top: -10px;
    }
    #software-text {
        font-size: 12px;
        margin-top: -10px;
    }
    #gifs-github {
        margin-top: 10px;
    }
    #software-github {
        margin-top: 10px;
    }
    
    #gifs-buttons {
        margin-top: -40px;
    }
    
    #software-buttons {
        margin-top: -30px;
    }

    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -5px;
    }
    #header {
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -28px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    #linkedin {
        margin-left: 10px;
    }
    .foot-btn-header {
        font-size: 18px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 18px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    #bio-button {
        margin-top: -60px;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size:12px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 120px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding: 2px 0px;
        border: 2px solid rgb(238, 3, 148);
        border-radius: 5px;
        position:relative; 
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }

}
@media only screen and (min-width: 1024px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: inline-block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 14px;
    }
    .logo {
        height: 4vh;
    }
    hr {
        height: 3px;
        width: 7%;
        margin: 0px 0 0 25px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 280px;
        width: 995px;
        margin-top: 120px;
    
    }
    #banner-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: seashell;
        font-size: 48px;
        text-align: center;
        margin-top: 70px;
        
    }
    #banner-sub {
        font-family: 'Roboto Condensed', sans-serif;
        color: seashell;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }
    #feature-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        text-align: center;
        font-size: 36px;
        margin-top: 380px;
    
    }
    #feat-sub {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: -10px;
        font-size: 11px;
    }
    #cards-div {
        margin: 240px 0 0 0px;
    }
    #card-row {
        margin-left: -155px;
    }
    .card {
        border-radius: 20px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    #bio-card {
        width: 260px;
        height: 320px;
        margin-left: 140px;
        margin-top: 12px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
    }
    #bio-title {
        font-size: 24px;
        margin-top: -10px;
    }
    #bio-text {
        font-size: 14px;
        margin-top: -10px;
    }
    #avi {
        height: 140px;
        width: 130px;
        margin: 10px 0 0 60px;
        border-radius: 15px;
    }
    #software-card {
        margin: 10px 0 0 100px;
        width: 250px;
        height: 320px;
    }

    #gif-card {
        width: 250px;
        height: 320px;
        margin: 10px 0 0 130px;
    }
    #gifs-title {
        font-size: 20px;
        margin-top: -10px;
    }
    #gifs-text {
        font-size: 14px;
        margin-top: -10px;
        margin-bottom: 40px;
    }
    #gifs {
        border-radius: 12px;
        margin: 11px 0 0 24px;
        width: 200px;
        height: 100px;
    }
    #software {
        border-radius: 8px;
        width: 190px;
        height: 100px;
        margin: 11px 0 0 30px;
    }
    #software-title {
        font-size: 19px;
        margin-top: -10px;
    }
    #software-text {
        font-size: 14px;
        margin-top: -10px;
    }
    #gifs-github {
        margin-top: 10px;
    }
    #software-github {
        margin-top: 10px;
    }
    
    #gifs-buttons {
        margin-top: -40px;
    }
    
    #software-buttons {
        margin-top: -30px;
    }

    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -5px;
    }
    #header {
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -28px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    #linkedin {
        margin-left: 10px;
    }
    .foot-btn-header {
        font-size: 18px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 18px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    #bio-button {
        margin-top: -60px;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 14px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 140px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding: 2px 0px;
        border: 2px solid rgb(238, 3, 148);
        border-radius: 5px;
        position:relative; 
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }

}
@media only screen and (min-width: 1440px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: inline-block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 16px;
    }
    .logo {
        height: 4vh;
    }
    hr {
        height: 3px;
        width: 7%;
        margin: 0px 0 0 27px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    .banner-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.178)), url(../images/landingimages/landing-jumbotron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 480px;
        width: 1410px;
        margin-top: 120px;
    
    }
    #banner-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: seashell;
        font-size: 68px;
        text-align: center;
        margin-top: 160px;
        
    }
    #banner-sub {
        font-family: 'Roboto Condensed', sans-serif;
        color: seashell;
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        margin-top: 10px;
    }
    #feature-header {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        text-align: center;
        font-size: 48px;
        margin-top: 570px;
    
    }
    #feat-sub {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        margin-top: -10px;
        font-size: 15px;
    }
    #cards-div {
        margin: 240px 0 0 0px;
    }
    #card-row {
        margin-left: -155px;
    }
    .card {
        border-radius: 20px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
    }
    #bio-card {
        width: 320px;
        height: 360px;
        margin-left: 140px;
        margin-top: 12px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
    }
    #bio-title {
        font-size: 28px;
        margin-top: -10px;
    }
    #bio-text {
        font-size: 18px;
        margin-top: -10px;
    }
    #avi {
        height: 180px;
        width: 170px;
        margin: 10px 0 0 70px;
        border-radius: 15px;
    }
    #software-card {
        margin: 10px 0 0 170px;
        width: 320px;
        height: 360px;
    }

    #gif-card {
        width: 320px;
        height: 360px;
        margin: 10px 0 0 160px;
    }
    #gifs-title {
        font-size: 24px;
        margin-top: -10px;
    }
    #gifs-text {
        font-size: 18px;
        margin-top: -10px;
        margin-bottom: 40px;
    }
    #gifs {
        border-radius: 12px;
        margin: 11px 0 0 40px;
        width: 240px;
        height: 120px;
    }
    #software {
        border-radius: 8px;
        width: 230px;
        height: 120px;
        margin: 11px 0 0 30px;
    }
    #software-title {
        font-size: 24px;
        margin-top: -10px;
    }
    #software-text {
        font-size: 18px;
        margin-top: -10px;
    }
    #gifs-github {
        margin-top: 10px;
    }
    #software-github {
        margin-top: 10px;
    }
    
    #gifs-buttons {
        margin-top: -40px;
    }
    
    #software-buttons {
        margin-top: -10px;
    }

    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -135px;
    }
    #header {
        font-size: 32px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    #linkedin {
        margin-left: 10px;
    }
    .foot-btn-header {
        font-size: 24px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 18px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    #bio-button {
        margin-top: -20px;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 15px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 170px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding: 4px 0px;
        border: 2px solid rgb(238, 3, 148);
        border-radius: 5px;
        position:relative; 
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }

}