.nav-names {
    float: left;
    list-style: none;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-names li {
    display: inline-block;
}
.nav-names li a {
    color: rgb(216, 31, 185);
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
}

.logo {
    height: 4vh;
}
#home:hover ~ hr {
    width: 3vw;
    margin-left: 18px;
}
#bio:hover ~ hr {
    width: 10%;
    margin-left: 102px;
}
#graphic:hover ~ hr {
    margin-left: 71%;
    width: 25%;
}
hr {
    height: 3px;
    width: 18%;
    margin: 0 0 0 183px;
    background-color:rgb(254, 184, 145);
    border: none;
    transition: .3s ease-in-out;
}
#portfolio-div {
    margin-top: 50px;
}
#trivia-card {
    height: 400px;
    width: 380px;
}
.github-btn {
    margin-left: 20px;
}
.card {
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
}
.card-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
.card-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
#trivia-photo {
    height: 150px;
    width: 350px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 11px;
}
#crystal-card {
    height: 400px;
    width: 380px;
}
#crystal-photo {
    height: 160px;
    width: 350px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 13px;
}
#gif-card {
    height: 400px;
    width: 360px;
}
#gif-photo {
    height: 170px;
    width: 330px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 13px;
}
#negotiator-card {
    height: 400px;
    width: 380px;
}
#negotiator-photo {
    height: 170px;
    width: 350px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 13px;
}
#software-card {
    height: 400px;
    width: 380px;
}
#software-photo {
    height: 170px;
    width: 350px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 13px;
}
footer {
    background-color: rgb(145, 24, 98);
    margin-top: 50px;
}
#footer-header {
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    margin-left: -135px;
}
#header {
    font-size: 24px;
    color: rgb(255, 255, 255);
}
#cj-copyright {
    margin-left: 3px;
}
#footer-names {
    list-style: none;
    margin-top: -10px;
    margin-left: -160px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
#footer-names li {
    display: inline-block;
}
#linkedin {
    margin-left: 10px;
}
.footer-buttons {
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
    color: white;
    font-size: 36px;
    font-weight: 300;
    height: 80px;
    width: 80px;
    text-align: left;
    text-transform: initial;
    letter-spacing: 1px;
}
.footer-buttons:focus {
    outline: none;
}
.footer-buttons:hover {
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
    color: rgb(254, 184, 145);
    font-size: 36px;
    font-weight: 300;
}
button {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size:12px;
    letter-spacing:3px;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    font-weight:bold;
    width: 140px;
    background-color: rgb(252, 252, 252);
    color: rgb(238, 3, 148);
    padding:8px 0px;
    border:3px solid rgb(238, 3, 148);
    border-radius: 6px;
    position:relative; 
}
button:hover {
    background-position: 100% 0;
    -moz-transition:.8s ease-in-out;
    -o-transition:.8s ease-in-out;
    -webkit-transition:.8s ease-in-out;
    transition:.8s ease-in-out;
    color: white;
    background-color: rgb(254, 184, 145);
    border:3px solid rgb(254, 184, 145);
}
button:focus {
    outline: none;
}
/* @media only screen and (max-width: 320px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 12px;
    }
    
    .logo {
        height: 3vh;
    }
    hr {
        height: 3px;
        width: 46%;
        margin: -25px 0 0 20px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    #portfolio-div {
        margin-top: 120px;
    }
    .github-btn {
        margin-left: 10px;
    }
    .card {
        background-color: rgb(253, 253, 253);
        border-radius: 20px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: -10px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: -10px;
    }
    #trivia-card {
        height: 280px;
        width: 290px;
    }
    #trivia-photo {
        height: 130px;
        width: 260px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 11px;
    }
    #crystal-card {
        height: 280px;
        width: 290px;
    }
    #crystal-photo {
        height: 120px;
        width: 260px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 13px;
    }
    #gif-card {
        height: 280px;
        width: 290px;
    }
    #gif-photo {
        height: 120px;
        width: 260px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 13px;
    }
    #negotiator-card {
        height: 310px;
        width: 290px;
    }
    #negotiator-photo {
        height: 120px;
        width: 262px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 13px;
    }
    #software-card {
        height: 290px;
        width: 290px;
    }
    #software-photo {
        height: 120px;
        width: 260px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 13px;
    }
    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -155px;
    }
    #header {
        font-size: 18px;
        margin-left: 150px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    .foot-btn-header {
        margin-left: 130px;
        font-size: 18px;
    }
    #linkedin {
        margin-left: 10px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 36px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size:11px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 111px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding:5px 0px;
        border:3px solid rgb(238, 3, 148);
        border-radius: 4px;
        position:relative;
        margin-top: -10px;
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }
}
@media only screen and (max-width: 360px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 12px;
    }
    
    .logo {
        height: 3vh;
    }
    hr {
        height: 3px;
        width: 46%;
        margin: -25px 0 0 20px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    #portfolio-div {
        margin-top: 120px;
    }
    .github-btn {
        margin-left: 10px;
    }
    .card {
        background-color: rgb(253, 253, 253);
        border-radius: 20px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: -10px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: -10px;
    }
    #trivia-card {
        height: 280px;
        width: 330px;
    }
    #trivia-photo {
        height: 130px;
        width: 260px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 35px;
    }
    #crystal-card {
        height: 280px;
        width: 330px;
    }
    #crystal-photo {
        height: 120px;
        width: 260px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 35px;
    }
    #gif-card {
        height: 280px;
        width: 330px;
    }
    #gif-photo {
        height: 120px;
        width: 260px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 35px;
    }
    #negotiator-card {
        height: 310px;
        width: 330px;
    }
    #negotiator-photo {
        height: 120px;
        width: 262px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 35px;
    }
    #software-card {
        height: 290px;
        width: 330px;
    }
    #software-photo {
        height: 120px;
        width: 260px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 35px;
    }
    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -155px;
    }
    #header {
        font-size: 18px;
        margin-left: 150px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    .foot-btn-header {
        margin-left: 130px;
        font-size: 18px;
    }
    #linkedin {
        margin-left: 10px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 36px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size:11px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 111px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding:5px 0px;
        border:3px solid rgb(238, 3, 148);
        border-radius: 4px;
        position:relative;
        margin-top: -10px;
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }
}
@media only screen and (max-width: 411px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 12px;
    }
    
    .logo {
        height: 3vh;
    }
    hr {
        height: 3px;
        width: 46%;
        margin: -25px 0 0 20px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    #portfolio-div {
        margin-top: 120px;
    }
    .github-btn {
        margin-left: 10px;
    }
    .card {
        background-color: rgb(253, 253, 253);
        border-radius: 20px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: -10px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: -10px;
    }
    #trivia-card {
        height: 300px;
        width: 380px;
    }
    #trivia-photo {
        height: 140px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 50px;
    }
    #crystal-card {
        height: 300px;
        width: 380px;
    }
    #crystal-photo {
        height: 140px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 50px;
    }
    #gif-card {
        height: 300px;
        width: 380px;
    }
    #gif-photo {
        height: 140px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 50px;
    }
    #negotiator-card {
        height: 320px;
        width: 380px;
    }
    #negotiator-photo {
        height: 140px;
        width: 282px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 50px;
    }
    #software-card {
        height: 300px;
        width: 380px;
    }
    #software-photo {
        height: 140px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 50px;
    }
    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -155px;
    }
    #header {
        font-size: 18px;
        margin-left: 150px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    .foot-btn-header {
        margin-left: 130px;
        font-size: 18px;
    }
    #linkedin {
        margin-left: 10px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 36px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 131px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding:6px 0px;
        border:3px solid rgb(238, 3, 148);
        border-radius: 5px;
        position:relative;
        margin-top: -10px;
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }
}
@media only screen and (max-width: 375px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 12px;
    }
    
    .logo {
        height: 3vh;
    }
    hr {
        height: 3px;
        width: 46%;
        margin: -25px 0 0 20px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    #portfolio-div {
        margin-top: 120px;
    }
    .github-btn {
        margin-left: 10px;
    }
    .card {
        background-color: rgb(253, 253, 253);
        border-radius: 20px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: -10px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: -10px;
    }
    #trivia-card {
        height: 300px;
        width: 340px;
    }
    #trivia-photo {
        height: 140px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #crystal-card {
        height: 300px;
        width: 340px;
    }
    #crystal-photo {
        height: 140px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #gif-card {
        height: 300px;
        width: 340px;
    }
    #gif-photo {
        height: 140px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #negotiator-card {
        height: 320px;
        width: 340px;
    }
    #negotiator-photo {
        height: 140px;
        width: 282px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #software-card {
        height: 300px;
        width: 340px;
    }
    #software-photo {
        height: 140px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -155px;
    }
    #header {
        font-size: 18px;
        margin-left: 150px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    .foot-btn-header {
        margin-left: 130px;
        font-size: 18px;
    }
    #linkedin {
        margin-left: 10px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 36px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 131px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding:6px 0px;
        border:3px solid rgb(238, 3, 148);
        border-radius: 5px;
        position:relative;
        margin-top: -10px;
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }
}
@media only screen and (max-width: 411px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 12px;
    }
    
    .logo {
        height: 3vh;
    }
    hr {
        height: 3px;
        width: 46%;
        margin: -25px 0 0 20px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    #portfolio-div {
        margin-top: 120px;
    }
    .github-btn {
        margin-left: 10px;
    }
    .card {
        background-color: rgb(253, 253, 253);
        border-radius: 20px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: -10px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        margin-top: -10px;
    }
    #trivia-card {
        height: 340px;
        width: 380px;
    }
    #trivia-photo {
        height: 160px;
        width: 315px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #crystal-card {
        height: 340px;
        width: 380px;
    }
    #crystal-photo {
        height: 160px;
        width: 315px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #gif-card {
        height: 340px;
        width: 380px;
    }
    #gif-photo {
        height: 160px;
        width: 315px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #negotiator-card {
        height: 340px;
        width: 380px;
    }
    #negotiator-photo {
        height: 160px;
        width: 315px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    #software-card {
        height: 340px;
        width: 380px;
    }
    #software-photo {
        height: 160px;
        width: 315px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }
    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 50px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -155px;
    }
    #header {
        font-size: 18px;
        margin-left: 150px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    .foot-btn-header {
        margin-left: 130px;
        font-size: 18px;
    }
    #linkedin {
        margin-left: 10px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 36px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 131px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding:6px 0px;
        border:3px solid rgb(238, 3, 148);
        border-radius: 5px;
        position:relative;
        margin-top: -10px;
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }
}
@media only screen and (max-width: 768px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: inline-block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 18px;
    }
    
    .logo {
        height: 3vh;
    }
    hr {
        height: 3px;
        width: 18%;
        margin: 0px 0 0 198px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    #portfolio-div {
        margin-top: 120px;
    }
    .github-btn {
        margin-left: 10px;
    }
    .card {
        background-color: rgb(253, 253, 253);
        border-radius: 20px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 19px;
        margin-top: -10px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin-top: -10px;
    }
    #trivia-card {
        height: 340px;
        width: 350px;
    }
    #trivia-photo {
        height: 150px;
        width: 300px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 25px;
    }
    #crystal-card {
        height: 340px;
        width: 350px;
        margin-left: 120px;
    }
    #crystal-photo {
        height: 150px;
        width: 300px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 25px;
    }
    #gif-card {
        margin-top: 370px;
        margin-left: -510px;
        height: 340px;
        width: 350px;
    }
    #gif-photo {
        height: 150px;
        width: 300px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 25px;
    }
    #negotiator-card {
        margin-top: -364px;
        margin-left: 380px;
        height: 340px;
        width: 350px;
    }
    #negotiator-photo {
        height: 150px;
        width: 300px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 25px;
    }
    #software-card {
        height: 340px;
        width: 350px;
        margin-left: -253px;
    }
    #software-photo {
        height: 150px;
        width: 300px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 25px;
    }
    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 53px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -155px;
    }
    #header {
        font-size: 18px;
        margin-left: 150px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    .foot-btn-header {
        margin-left: 130px;
        font-size: 18px;
    }
    #linkedin {
        margin-left: 10px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 36px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 131px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding:6px 0px;
        border:3px solid rgb(238, 3, 148);
        border-radius: 5px;
        position:relative;
        margin-top: -10px;
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }
}
@media only screen and (max-width: 1024px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: inline-block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 18px;
    }
    
    .logo {
        height: 4vh;
    }
    #home:hover ~ hr {
        width: 3vw;
        margin-left: 25px;
    }
    #bio:hover ~ hr {
        width: 12%;
        margin-left: 101px;
    }
    #graphic:hover ~ hr {
        margin-left: 69%;
        width: 27%;
    }
    hr {
        height: 3px;
        width: 18%;
        margin: 0px 0 0 195px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    #portfolio-div {
        margin-top: 120px;
    }
    .github-btn {
        margin-left: 10px;
    }
    .card {
        background-color: rgb(253, 253, 253);
        border-radius: 20px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 19px;
        margin-top: -10px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin-top: -10px;
    }
    #trivia-card {
        height: 340px;
        width: 308px;
    }
    #trivia-photo {
        height: 130px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 12px;
    }
    #crystal-card {
        height: 340px;
        width: 308px;
    }
    #crystal-photo {
        height: 130px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 12px;
    }
    #gif-card {
        height: 340px;
        width: 308px;
    }
    #gif-photo {
        height: 150px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 12px;
    }
    #negotiator-card {
        height: 340px;
        width: 308px;
    }
    #negotiator-photo {
        height: 150px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 13px;
    }
    #software-card {
        height: 340px;
        width: 308px;
    }
    #software-photo {
        height: 150px;
        width: 280px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 13px;
    }
    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 53px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -155px;
    }
    #header {
        font-size: 18px;
        margin-left: 150px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    .foot-btn-header {
        margin-left: 130px;
        font-size: 18px;
    }
    #linkedin {
        margin-left: 10px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 36px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 120px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding:6px 0px;
        border:3px solid rgb(238, 3, 148);
        border-radius: 5px;
        position:relative;
        margin-top: -10px;
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }
}
@media only screen and (max-width: 1440px) {
    .nav-names {
        list-style: none;
        margin-top: 20px;
        margin-left: -55px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .nav-names li {
        display: inline-block;
    }
    .nav-names li a {
        color: rgb(216, 31, 185);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 18px;
    }
    
    .logo {
        height: 4vh;
    }
    hr {
        height: 3px;
        width: 18%;
        margin: 0px 0 0 196px;
        background-color:rgb(254, 184, 145);
        border: none;
        transition: .3s ease-in-out;
    }
    #portfolio-div {
        margin-top: 120px;
    }
    .github-btn {
        margin-left: 10px;
    }
    .card {
        background-color: rgb(253, 253, 253);
        border-radius: 20px;
    }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 22px;
        margin-top: -10px;
    }
    .card-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 18px;
        margin-top: -10px;
    }
    #trivia-card {
        height: 400px;
        width: 368px;
    }
    #trivia-photo {
        height: 190px;
        width: 330px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    #crystal-card {
        height: 400px;
        width: 368px;
    }
    #crystal-photo {
        height: 190px;
        width: 330px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    #gif-card {
        height: 400px;
        width: 368px;
    }
    #gif-photo {
        height: 190px;
        width: 330px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    #negotiator-card {
        height: 400px;
        width: 368px;
    }
    #negotiator-photo {
        height: 170px;
        width: 330px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    #software-card {
        height: 400px;
        width: 368px;
    }
    #software-photo {
        height: 170px;
        width: 330px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 15px;
    }
    footer {
        background-color: rgb(145, 24, 98);
        margin-top: 53px;
    }
    #footer-header {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        margin-left: -155px;
    }
    #header {
        font-size: 28px;
        margin-left: 20px;
        color: rgb(255, 255, 255);
    }
    #cj-copyright {
        margin-left: 3px;
    }
    #footer-names {
        list-style: none;
        margin-top: -10px;
        margin-left: -160px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
    }
    #footer-names li {
        display: inline-block;
    }
    .foot-btn-header {
        font-size: 24px;
    }
    #linkedin {
        margin-left: 10px;
    }
    .footer-buttons {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: white;
        font-size: 36px;
        font-weight: 300;
        height: 80px;
        width: 80px;
        text-align: left;
        text-transform: initial;
        letter-spacing: 1px;
    }
    .footer-buttons:focus {
        outline: none;
    }
    .footer-buttons:hover {
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
        color: rgb(254, 184, 145);
        font-size: 36px;
        font-weight: 300;
    }
    button {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 14px;
        letter-spacing:3px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        font-weight:bold;
        width: 140px;
        background-color: rgb(252, 252, 252);
        color: rgb(238, 3, 148);
        padding:8px 0px;
        border:3px solid rgb(238, 3, 148);
        border-radius: 8px;
        position:relative;
        margin-top: -10px;
    }
    button:hover {
        background-position: 100% 0;
        -moz-transition:.8s ease-in-out;
        -o-transition:.8s ease-in-out;
        -webkit-transition:.8s ease-in-out;
        transition:.8s ease-in-out;
        color: white;
        background-color: rgb(254, 184, 145);
        border:3px solid rgb(254, 184, 145);
    }
    button:focus {
        outline: none;
    }
} */