body {
    font-family: 'Playfair Display', serif;
    line-height: 28px;
    font-size: 18px;
    color: #777777;
    background: linear-gradient(rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.103)), url("./110099full\ \(1\).jpg");
}
* {
    box-sizing: border-box;
}
/* 
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
} */
#me {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-top: 50px;
    margin-left: -1190px;
    text-decoration: none;
    color: #a237ac;
}
#me:hover {
    border: 2px solid  rgb(255, 223, 193); 
}
#image-me {
    height: 45vh;
}
#card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    float: left;
    text-align: center;
    border-radius: 8px;
}
.icon {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
#chelsea {
    color: grey;
}
#title {
    color: grey;
    font-size: 18px;
  }
h1,
h2,
h3,
p {
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: #fff1dd;
}

h1 {
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 49px;
    border-bottom: 5px solid #e585ee;
    font-family: 'Playfair Display', serif;
}
#header {
    background: rgba(34, 32, 26, 0.521);
    height: 45px;
    border-radius: 20px;
    margin-top: 10px;
}
.nav-names {
    list-style: none;
    margin-left: 460px;
    padding-top: 8px;
}
.nav-names li {
    display: inline-block;
}

.nav-names li a {
    color: #e585ee;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 18px;
}
#title {
    font-size: 16px;
}
#skills-title {
    color: rgb(121, 121, 121);
    margin-left: 20px;
}
.skills li {
    color: rgb(170, 34, 170);
    list-style: none;
}

.nav-names li a:hover {
    border: 2px solid  rgb(255, 223, 193);
}

#bio {
    margin-right: 50px;
}
#portfolio {
    margin-right: 50px;
}

.content {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}
#paragraph {
    float: left;
    width: 100%;
    max-width: 960px;
    height: fit-content;
    padding: 30px;
    background: rgba(95, 49, 95, 0.418);
}

.main {
    float: left;
    width: 100%;
    max-width: 960px;
    height: fit-content;
    padding: 30px;
    margin-top: 100px;
    background: rgba(95, 49, 95, 0.418);
}
.main-section {
    margin-top: 100px;
}
#contact ul {
    margin-bottom: 10px;
}

#contact li {
    margin-bottom: 5px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid;
}

textarea {
    height: 100px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #f8adff;
    cursor: pointer;
    background: #624664;
    border: 0 none;
}

.work {
    height: fit-content;
    width: fit-content;
    padding: 30px;
    margin: 0;
    background: rgba(95, 49, 95, 0.418);
}
#game {
    padding-top: 50px;
    height: 30vh;
}
#psychic {
    padding-top: 50px;
    height: 30vh;
}
#train-schedule {
    height: 35vh;
}
#crystal {
    height: 26vh;
    margin-top: 40px;
}
 #women-giphy {
     padding-top: 40px;
     height: 31vh;
     width: 24vw;
 }
#negotiator {
    padding-top: 50px;
    height: 30vh;
}
#software {
    padding-top: 60px;
    height: 30vh;
}
p {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
/* #trivia-button {
    cursor: pointer;
    background-color: rgb(155, 16, 120);
    color: rgb(255, 242, 224);
    padding: 10px 20px;
    border-radius: 8px;
} */
button {
    cursor: pointer;
    background-color: rgb(155, 16, 120);
    color: rgb(255, 242, 224);
    padding: 10px 20px;
    border-radius: 8px;
}
/* #App-button {
    cursor: pointer;
    background-color: rgb(155, 16, 120);
    color: rgb(255, 242, 224);
    padding: 10px 20px;
    border-radius: 8px;
} */
.flip-card {
    display: inline-block;
    margin-top: 25px;
    background-color: transparent;
    width: 420px;
    height: 300px;
    border: 2px solid #fff3da;
    border-radius: 8px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-front {
    background-image: linear-gradient(rgb(109, 65, 109), rgb(255, 231, 153));
    color: black;
    border-radius: 8px;
}
.flip-card-back {
    background-color: rgba(95, 49, 95);
    border-radius: 8px;
    color: white;
    transform: rotateY(180deg);
}
h3 {
  padding-top: 50px;
}
#email {
    background-color: rgb(122, 18, 105);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 115px 5px 115px;
    border-radius: 20px;

}
#email:hover {
    background-color: rgb(224, 77, 212);
    cursor: pointer;
}
@media (max-width: 960px) {
  }
  
  @media screen and (max-width: 768px) {
    #header {
     float: left;
    }
    #main-container {
        float: left;
        text-align: left;
    }
  }
  
  @media (max-width: 560px) {
    #main-container {
        float: left;
    }
    #me {
        background-color:  #c660cf93;
        color:  rgb(255, 223, 193);
    }
    nav {
        float: left;
        text-align: left;
    }
  }